/cmaxs/node_modules
/cmaxs/storage/*.key
/cmaxs/vendor
/cmaxs/.idea
/cmaxs/.vagrant
/cmaxs/Homestead.json
/cmaxs/Homestead.yaml
/cmaxs/npm-debug.log
/cmaxs/yarn-error.log
/cmaxs/.env
/cmaxs/nbproject
/cmaxs/public/hot
/cmaxs/public/storage
/cmaxs/public/js
/cmaxs/public/css
/cmaxs/public/fonts
